    <div class="user-info">
    <div class="image">
        <img src="assets/images/user.png" width="48" height="48" alt="User" />
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{shownLoginName}}</div>
        <div class="email">{{appSession.user.emailAddress}}</div>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a [routerLink]="['/app/update-password']"><i class="material-icons">lock</i>Update Password</a><
                <a (click)="logout()"><i class="material-icons">input</i>{{ 'Logout' | localize }}</a>
          </div>
        <!-- <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a [routerLink]="['/app/update-password']"><i class="material-icons">lock</i>Update Password</a></li>
                <li>c</li>
            </ul>
        </div> -->
    </div>
</div>
