    <div class="user-info">
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{shownLoginName}}</div>
        <div class="email">{{appSession.user.emailAddress}}</div>
        
    </div>
            <br>
    <div class="row">
                <a [routerLink]="['/app/update-password']"><i class="material-icons">lock</i>Update Password</a>
                <a (click)="logout()"><i class="material-icons">input</i>{{ 'Logout' | localize }}</a>
    </div>
    
</div>
