.container {
  margin-top: 30px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

fieldset
{
  border: 1px solid #ddd !important;
  margin: 0;
  min-width: 0;
  padding: 10px;
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:5px!important;
}

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
  }

  span {
    width: 100%;
    display: block;
}
.img-responsive{
  height: 100%;
  width: 100%;
}
.img-responsive-next{
  height: 500px;
  width: 100%;
}